{% extends 'admins/adminbase.html'%}
{%block contents%}
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}


td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
 <section id="intro">

    <div class="intro-text">
<!--        <div class="container" style="margin-top:-200px;">-->
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br><br/><br/>
      <p><h3 align="center" style="color:green;font-weight:bold;">Liver Disease Classification Report</h3></p>
      <!--<a href="#about" class="btn-get-started scrollto">Get Started</a>-->
        <center>
         <table class="table">
            <tr>
                <th>S.NO</th>
                <th>Algorithm</th>
                <th>Accuracy</th>
                <th>Precision</th>
                <th>Sensitivity</th>
                <th>Specificity</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Logistic Regression</td>
                <td>{{lg.lg_accuracy}}</td>
                <td>{{lg.lg_precision}}</td>
                <td>{{lg.lg_sensitivity}}</td>
                <td>{{lg.lg_specificity}}</td>
            </tr>
            <tr>
                <td>2</td>
                <td>SVM</td>
                <td>{{svm.svm_accuracy}}</td>
                <td>{{svm.svm_precision}}</td>
                <td>{{svm.svm_sensitivity}}</td>
                <td>{{svm.svm_specificity}}</td>
            </tr>

        </table>

            </center>
    </div>
  </section>
{%endblock%}